#map {
  height: 100vh;
  width: 100%;
  z-index: 1;
}

.hud-overlay {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.7);
  padding: 15px;
  border-left: 5px solid red;
  color: white;
  backdrop-filter: blur(5px);
}

.blink {
  animation: blinker 1s linear infinite;
  color: red;
  font-size: 0.8em;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}